html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.banner {
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.banner img {
  width: 100%;
}

.container img {
  width: 100%;
}

h2 {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2;
  align-self: end;
  z-index: 1;
}
