html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Merriweather";
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

img {
  width: 100%;
}

.banner h1 {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

.banner p {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1;
}
